.cover-img {
  height: 30em;
  object-fit: cover;
}

#see-more-front-end-development,
#see-more-front-end-instructor1,
#see-more-front-end-instructor2,
#see-more-front-end-instructor3 {
  padding-right: 30px;
  padding-left: 60px;
}

@media (max-width: 800px) {
  .cover-img {
    object-fit: contain !important;
    height: auto !important;
  }
}

/* tablet screen responsiveness  */
@media (min-width: 500px) and (max-width: 800px) {
  #see-more-front-end-development {
    margin-right: 10px;
  }

  #see-more-front-end-instructor1,
  #see-more-front-end-instructor2,
  #see-more-front-end-instructor3 {
    margin-right: 190px;
  }
}

@media (max-width: 991px) {
  /* Set image first */
  .d-flex.flex-column.col-lg-4.col-12 {
    order: -2; /* Moves image to the top */
  }

  /* Set name second */
  .d-flex.flex-column.col-lg-7.col-12 h1 {
    order: -1;
    text-align: center;
    margin-top: 15px;
  }

  /* Set description third */
  .d-flex.flex-column.col-lg-7.col-12 p {
    text-align: left;
  }
}
