.background {
  background-image: url('/public/images/BGImage2.jpg');
  z-index: 1;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Smooth scrolling for all elements */
* {
  scroll-behavior: smooth;
}

.card-parent {
  height: 42em;
}

/* Container for course cards */
.course-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual course card styles */
.course-card-wrapper {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  height: 400px;
  width: 100%;
  justify-content: space-between;
  gap: 40px !important;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.course-card-wrapper:hover {
  transform: scale(1.05);
}

/* Style for course card content */
.course-card-wrapper h3,
.course-card-wrapper p {
  margin: 0 auto;
  text-align: center;
}

.course-card-wrapper h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.course-card-wrapper p {
  font-size: 1rem;
}

/* Styling for images inside course cards */
.course-card-wrapper img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Center the carousel on the page */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 3rem !important;
}

/* Wrapper for visible cards */
.carousel-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 90%;
  position: relative;
  scroll-behavior: smooth;
  gap: 20px;
  margin: auto;
}

/* Buttons for carousel navigation */
.carousel-control-prev,
.carousel-control-next {
  margin-right: 10px;
  margin-left: 10px;
  width: 30px !important;
  height: 50px;
  background: rgba(200, 200, 200, 0.8);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

/* Arrow styling */
.svgCarouselArrowCourse {
  width: 30px;
  height: 30px;
  fill: white;
  background-color: rgb(140, 140, 140);
  border-radius: 50%;
}

.svgCarouselArrowCourse:hover {
  fill: rgb(131, 129, 129);
}

.carousel-control-next svg {
  background-color: rgb(186, 183, 183);
  transform: rotate(180deg);
  border-radius: 45%;
}

.carousel-control-prev {
  left: 20px;
  margin-top: 330px;
  padding-right: 100px;
}

.carousel-control-prev svg {
  background-color: rgb(186, 183, 183);
  border-radius: 45%;
}

.carousel-control-next {
  right: 20px;
  margin-top: 330px;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .course-card-wrapper {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .carousel-wrapper {
    gap: 80px !important;
  }
}

@media (max-width: 480px) {
  .course-card-wrapper {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

@media (min-width: 769px) {
  .carousel-wrapper {
    display: flex;
    gap: 20px;
    width: 85.5%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .carousel-wrapper {
    display: flex;
    gap: 23px;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  .course-card-wrapper {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  .course-card-wrapper:hover {
    transform: scale(1.05);
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
  }

  .carousel-control-prev svg,
  .carousel-control-next svg {
    width: 24px;
    height: 24px;
    fill: rgb(140, 140, 140);
  }

  .carousel-control-prev svg:hover,
  .carousel-control-next svg:hover {
    fill: rgb(80, 80, 80);
  }
}

@media (max-width: 1024px) {
  .course-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .course-card-wrapper {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: 400px;
    width: 100%;
    justify-content: space-between;
    gap: 40px !important;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  .course-card-wrapper:hover {
    transform: scale(1.05);
  }

  .course-card-wrapper h3,
  .course-card-wrapper p {
    margin: 0 auto;
    text-align: center;
  }

  .course-card-wrapper h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .course-card-wrapper p {
    font-size: 1rem;
  }

  .course-card-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .carousel-wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 90%;
    scroll-behavior: smooth;
    gap: 15px;
    margin: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background: rgba(200, 200, 200, 0.8);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 10;
    cursor: pointer;
  }

  .svgCarouselArrowCourse {
    width: 30px;
    height: 30px;
    fill: white;
    background-color: rgb(140, 140, 140);
    border-radius: 50%;
  }
}

/* Mobile screens adjustments */
@media (max-width: 430px) {
  .carousel-control-prev {
    margin-left: 0;
  }

  .carousel-control-next {
    margin-right: 0;
  }

  .carousel-container {
    padding: 48px !important;
    padding-left: 73px !important;
    padding-right: 70px !important;
  }

  .carousel-wrapper {
    margin: 0;
    gap: 23px;
  }

  .background {
    background-position: 82% center;
  }
}

@media (max-width: 380px) {
  .carousel-container {
    padding: 48px !important;
    padding-left: 42px !important;
    padding-right: 30px !important;
  }

  .background {
    background-position: 80% center;
  }
}

@media (max-width: 325px) {
  .carousel-container {
    padding: 48px !important;
    padding-left: 17px !important;
    padding-right: 20px !important;
  }

  .carousel-wrapper {
    margin: 0;
    gap: 22px;
  }

  .carousel-control-prev {
    margin-left: -7px;
  }

  .carousel-control-next {
    margin-right: 3px;
    width: 30px !important;
  }

  .background {
    background-position: 77% center;
  }
}

/* Specific styles for CourseCard */

.c-card {
  position: relative;
  opacity: 0.9;
  margin-left: 1.2% !important;
  margin-right: 1.2% !important;
  z-index: 1;
}

.c-card:hover {
  opacity: 1;
  transform: scale(1.07);
  transition: 0.5s ease-in-out;
  z-index: 10;
}

.course-image {
  max-width: 250px;
}

.bg-silver {
  background-color: rgb(235, 235, 240);
}

/* Buttons inside the course card */

.c-card button.btn-warning, /* Edit */
.c-card button.btn-danger {  /* Delete */
  position: relative;
  z-index: 15;
}

.btn-custom {
  border: 1px solid rgba(75, 102, 117, 1) !important;
  position: relative;
  z-index: 5;
}

.btn-custom:hover {
  border: none;
  background-color: rgba(75, 102, 117, 1) !important;
  color: white !important;
}

.cource-paragraph {
  font-weight: 700;
}

.paragraph-date {
  font-weight: 600 !important;
}

.places-left {
  font-weight: 800;
}

.fs-2 {
  font-size: 1.5rem;
}
