.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0.5rem 0;
  background-color: transparent;
  color: black;
}

.brand-name {
  color: black;
  margin-left: 1rem;
}

.navigation-menu {
  /* margin-left: auto; */
  align-items: center;
  justify-content: center;
}

.navigation-menu ul {
  display: flex;
  padding-left: 100px;
  padding-top: 20px;
}

.navigation-menu li {
  /* removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  /* increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  /* removes default border on button element */
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  /* positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: purple;
}

.active {
  background: #14142b !important;
}

.dropdown-separator {
  border: none;
  height: 1px;
  background-color: #000000c4;
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    color: whitesmoke;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: rgba(9, 9, 9, 0.1);

    /* border-top: 1px solid black; */
  }

  .navigation-menu li {
    /* centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }

  .listDropdown a {
    text-align: center;
    font-size: 14px;
    color: #fafafacd !important;
  }

  .navigation-menu li a {
    color: black;

    /* increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 0.5) 0%, rgba(252, 70, 107, 0.5) 100%);
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .absoluteBox {
    position: absolute;
    right: 3%;
    top: 100px;
    z-index: 3;
    /* background-color: #14142bd6; */
    /* background: linear-gradient(to bottom, #6C78C4, #5E68AB, #B093AF, #95BDE0); */
    background: linear-gradient(to bottom right, #B698AA 5%,  #685ED8 109%);
    /* backdrop-filter: blur(5px); */

    box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.4);

    /* width: clamp(180px, 30%, 230px); */
    min-width: 180px;

    /* preffered-width: 30%; */
    /* max-width: 230px; */

    /* max-width: 200px;
    min-width: 180px; */
    display: flex;
    border-radius: 15px;
  }

  .dropdown-menu {
    background-color: #322a3700 !important;
    border: none !important;
    min-width: 60px !important;
    padding-top: 0 !important;
    padding-bottom: 15px !important;
  }

  .dropdown-item {
    padding-top: 4px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: white !important;

    /* align-self: flex-end; */
  }

  /* flex settings */
  .listDropdown,
  .dropdownAlignmentFixing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .listDropdown a:hover{
    background-color: #09070acf;
  } */
  .dropdown-menu :hover {
    background-color: #261c2b48 !important;
  }

  #navbarSupportedContent li {
    border-bottom: 1px solid #ccc; /* Change the color as needed */
  }

  #login-icon {
    border-top: 1px solid #ccc;
  }

  #navbarSupportedContent li:last-child {
    border-bottom: none;
  }

  /* .listDropdown{
    display: flex;
    flex-direction: column;
    align-items:end;
  }
  .dropdownAlignmentFixing{
    display: flex;
    flex-direction: column;
    align-items:end;
  } */
}
@media (min-width: 769px) {
  .listDropdown:not(:last-child) {
    border-bottom: 1px solid #ccc; /* or any color/style you like */
  }

  .colorisation {
    background: linear-gradient(to bottom right, #B698AA 5%,  #685ED8 109%);
    box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.4);
    /* background: linear-gradient(to bottom, #6C78C4, #5E68AB, #B093AF, #95BDE0); */
  }
  .dropdown-item{
    color: white !important;
  }
  .dropdown-item:hover{
    background-color: #0c092dcf !important;
  }
}
/* .user-icon {
  padding-right: 5rem !important;
} */
