h1 {
  font-weight: 600;
}

h3 {
  font-weight: bolder;
}

/* Here are placed all css properties that are same for both Projects, CodingProjects and ResearchProject. */

/* Lines-left */
.frame .lines {
  position: relative;
  width: 550px;
  height: 6px;
}

.frame .overlap-group {
  position: relative;
  height: 6px;
}

.frame .rectangle {
  width: 550px;
  height: 2px;
  top: 4px;
  background-color: #344152;
  position: absolute;
  left: 0;
}

.frame .rectangle-2 {
  width: 275px;
  height: 6px;
  top: 0;
  background-color: #344152;
  position: absolute;
  left: 0;
}

/* Lines-left */

/* Lines-right */

.frame-right .lines-right {
  width: 550px;
  height: 6px;
}

.frame-right .overlap-group-right {
  position: relative;
  height: 6px;
}

.frame-right .rectangle-right {
  width: 550px;
  height: 2px;
  top: 4px;
  background-color: #344152;
  position: absolute;
  right: 0;
}

.frame-right .rectangle-2-right {
  width: 275px;
  height: 6px;
  top: 0;
  background-color: #344152;
  position: absolute;
  right: 0;
}

/* Lines-right */

.img-thumbnail {
  border: none !important;
}
.scroll-container {
  overflow: hidden;
  height: 520px; /* Adjust height to control visible area */
  position: relative;
}
/* Scrolling effect for the image */
.scroll-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  animation: scrollUp 35s linear infinite; /* Adjust the duration to control speed */
}
/* Animation for scrolling */
@keyframes scrollUp {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(-50%); /* Scroll up by half the container's height to loop */
  }
}

@media (max-width: 768px) {
  /* Make images full-width on tablets */
  .scroll-container img {
    width: 100%;
  }
}

/* Apply full width to the images in tablet view and make them unselectable */
.col-12 .scroll-container {
  overflow: hidden;
  height: 520px;
  position: relative;
}

.scroll-image img {
  width: 100%;
  pointer-events: none; /* Prevent image selection */
  user-select: none;    /* Prevent text/image selection */
}

/* Unselectable class to prevent selection */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}